.expense-page {
  margin-top: 125px;
  margin-left: 180px;
}

/*this affects each row inside the expense-container*/
.expense-container .col-sm-3 {
  margin-top: 25px;
}

.submit-button {
  margin-top: 13px;
}
