/* .expense-page {
  margin-top: 125px;
  margin-left: 180px;
} */

/*this affects each row inside the expense-container*/
.expense-page .col-sm-5 {
  margin-top: 30px;
}

.submit-button-container .col-sm-5 {
  margin-top: 38px;
}

.count {
  color: white;
}

.exp-logo {
  margin-left: 615px;
  margin-top: 335px;
  position: absolute;
  z-index: 999;
}

.inc-logo {
  margin-left: 1230px;
  margin-top: 330px;
  position: absolute;
  z-index: 999;
}