.homepage-logo {
  height: 900px;
  margin-left: 800px;
  margin-top: 100px;
  position: relative;
}

.text-container {
  position: absolute;
  margin-top: 200px;
  margin-left: 250px;
  z-index: 999;
}

.text-container h4 {
  font-size: 110px;
  font-weight: bolder;
  text-shadow: 5px 10px #bbbbbb;
  line-height: 115px;
}

.submit-button {
  text-align: center;
}

.btn-lg {
  height: 75px;
  width:  495px;
}