.homepage-logo {
  height: 900px;
  margin-left: 800px;
  margin-top: 100px;
  position: relative;
}

/*
.optimize {
  font-size: 150px;
  font-weight: bolder;
  position: absolute;
  margin-top: 200px;
  margin-left: 250px;
  z-index: 888;
  text-shadow: 5px 10px #bbbbbb;
} 

.your {
  font-size: 150px;
  font-weight: bolder;
  position: absolute;
  margin-top: 350px;
  margin-left: 250px;
  z-index: 888;
  text-shadow: 5px 10px #bbbbbb;
}

.spending {
  font-size: 150px;
  font-weight: bolder;
  position: absolute;
  margin-top: 500px;
  margin-left: 250px;
  z-index: 888;
  text-shadow: 5px 10px #bbbbbb;
}
*/

.text-container {
  position: absolute;
  margin-top: 200px;
  margin-left: 250px;
  z-index: 999;
}

.text-container h4 {
  font-size: 150px;
  font-weight: bolder;
  text-shadow: 5px 10px #bbbbbb;
  line-height: 135px;
}

.submit-button {
  text-align: center;
}

.btn-lg {
  height: 50px;
}