.homepage-logo {
  height: 900px;
  margin-left: 800px;
  margin-top: 100px;
  position: relative;
}

.optimize {
  font-size: 150px;
  font-weight: bolder;
  position: absolute;
  margin-top: 200px;
  margin-left: 250px;
  z-index: 999;
}

.your {
  font-size: 150px;
  font-weight: bolder;
  position: absolute;
  margin-top: 350px;
  margin-left: 250px;
  z-index: 999;
}

.spending {
  font-size: 150px;
  font-weight: bolder;
  position: absolute;
  margin-top: 500px;
  margin-left: 250px;
  z-index: 999;
}