.income-container .col-sm-3 {
  margin-top: 25px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.count {
  color: white;
}

.inc-logo {
  height: 150px;
  width: auto;
}
