.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  position: absolute;
  top: 0;
}
.logo {
  width: 10rem;
}
.navbar {
  display: flex;

}
.login_register {
  margin-right: 2rem;
  color: #0d0c3e!important;
}
li {
  list-style: none;
  color: #0d0c3e;
}
li a {
  text-decoration: none;
  color: #0d0c3e;
  font-size: 1.2rem;
}

li a:hover {
  color: black;
  text-decoration: underline;
}