* {
  margin: 0;
  padding: 0
}

body {
  background-color: #0d0c3e
}

.card {
  margin-top: 100px;
  width: 650px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s
}

.profile-image img {
  transition: all 0.5s
}

.profile-avatar-img {
  background-color: white
}

.card:hover .profile-image img {
  transform: scale(1.5)
}

.profile-btn {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  color: #2dd577;
}

.profile-name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: black
}

.update-profile-button {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #0d0c3e;
  color: white;
  font-size: 15px
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 20px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #0d0c3e;
  font-weight: bold
}
.userCards {
  height: 150px;
  width: auto;
  float: right;
}

.date {
  background-color: #ccc
}
.bio-graph-heading {
  margin-top: 20px;
  background: white;
  color: white;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}

.bio-graph-info {
  color: #89817e;
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
  border: 1px solid
}

.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding:0 15px;
}

.bio-row p span {
  width: 100px;
  display: inline-block;
}

