.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: start;
  width: 100px;
  align-items: stretch;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #2dd577;
  position: absolute;
  z-index: 999;
}

.sidebar-item {
  font-size: 2rem;
  margin-top: 3rem;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: #0d0c3e !important;
}