.sidebar {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
  align-items: stretch;
  position: fixed;
  top: 0px;
  bottom: 46px;
  background-color: #2dd577;

}

.sidebar_menu {
  margin: 40px;
  font-size: small;
  background: none;
  padding-left: 20px;
}

/* .sidebar_text:hover {
  font-size: medium;
  color: #0d0c3e;
  color: white;
} */

.sidebar_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  height: 60px;
}