.main-content {
  margin-top: 120px !important;
  min-height: 100% !important;
  height: 80vh !important;
}

.button {
  background-color: #2dd577 !important;
  color: white !important;
  border: 0 !important;
}

.background-color-green {
  background-color: #2dd577 !important;
  border: none !important;
}